@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}

<div class=" shadow border-0 mt-4" style="max-width: 1500px; margin: auto;">
    <div class="card-header bg-gradient text-light py-4"
         style=" background-color:#08092E;border-bottom: none;">
        <h2 class="text-center fw-semibold mb-0"> LIST OF Company </h2>
    </div>

    <div class="card-body bg-white p-5 rounded-bottom-4">

        <div class="container">
            <div class="row pb-3">

                <div class="text-dark col-6 ">
                </div>

                <div class="col-6  text-end ">

                    <a asp-controller="Company" asp-action="Index" class="btn btn-primary "> <i class="bi bi-plus-circle"></i> Add Company </a>

                </div>
            </div>
            <table id="tblData" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"> Street Address </th>
                        <th scope="col"> City </th>
                        <th scope="col"> State </th>
                        <th scope="col"> Postal Code </th>
                        <th scope="col"> Phone Number </th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>


    </div>
</div>

@section Scripts {
    <script src="~/js/Company.js"></script>
}

