@model Product
@{
    ViewData["Title"] = "Create New Product";
}

<div class="card shadow border-0 mt-5 rounded-4" style="max-width: 1100px; margin: auto;">
    <div class="card-header text-white py-4 rounded-top-4"
         style="background-color:#096643;">
        <h2 class="text-center fw-semibold mb-0">Create Product</h2>
    </div>

    <div class="card-body bg-white p-5 rounded-bottom-4">
        <form method="post" class="row g-3">
            <div class="col-12">

                <div class="form-floating mb-4">
                    <input asp-for="Title" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Title" class="ms-2"> Title </label>
                    <span asp-validation-for="Title" class="text-danger "></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="Author" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Author" class="ms-2"></label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="Description" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="ISBN" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="ISBN" class="ms-2"></label>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="ListPrice" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="ListPrice" class="ms-2"></label>
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Price" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Price" class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Price50" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Price50" class="ms-2"></label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Price100" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Price100" class="ms-2"></label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-success col-3">

                        CREATE
                    </button>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-close-white  col-3 ">

                        <i class="bi bi-arrow-left-circle"></i> BACK TO LIST
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}